.entete {
    display: flex;
}


#toutlejardin {
    align-self: flex-end;
    font-size: 20px;
    margin: auto;
}

ul {
    display:flex;
    background-color:black;
    height: 70px;
    align-items: center;
    font-size: 15px;
    list-style-type:none;
}

li {
    display:flex;
    margin-right:10px;
}

.menu {
    color: white;
    margin-right:10px;
}

#promo{
    width: 100%;
}

#corp{
    display: flex;
}

#corp #texte{
    width: 60%;
}

#corp #colonne_droite{
    width:40%;
    background-color:grey;
}

.menufin{
    color: white;
    margin-right:10px
}